.THIS .user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.THIS .avatar {
    margin-right: 10px;
    min-width: 50px;
    width: 5%;
}

.THIS .avatar img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.THIS .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.THIS .userName {
    font-weight: bold;
    margin-bottom: 5px;
}

.THIS .date {
    color: #666;
    font-size: 0.9em;
}